<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>LAYOUT</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="page-container">
        <div class="page-header">
            <div class="header-logo"> Logo </div>
            <div class="header-banner"> Banner </div>
        </div>
        <div class="page-menu">
            <div class="page-navigation">
                <a href="/">Home</a> |
                <a href="/">Student</a> |
                <a href="/">Courses</a> |
                <a href="/">About us</a> |
                <a href="/">Contact us</a>
            </div>
            <div class="page-search">
                <form>
                    <input type="text" name="search" placeholder="Search">
                </form>
            </div>
        </div>
        <div class="page-body">
            <div class="left">
                <div class="page-list">
                    <div class="page-list-content"> <a href="/">Introduction</a> </div>
                    <div class="page-list-content"> <a href="/">News</a> <br/> </div>
                    <div class="page-list-content"> <a href="/">Education</a> </div>
                    <div class="page-list-content"> <a href="/">Register</a> </div>
                    <div class="page-list-content"> <a href="/">Courses</a> </div>
                </div>
                <div class="left-page-banner">
                    Content
                </div>
            </div>  
            <div class="center">
                <div class="feature-news">
                    <div class="hot-news"> Hot news</div>
                    <div class="hot-news"> Photo slide</div>
                </div>
                <div class="news-container">
                    <div class="news-page">News 1</div>
                    <div class="news-page">News 2</div>
                    <div class="news-page">News 3</div>
                    <div class="news-page">News 4</div>
                    <div class="news-page">News 5</div>
                    <div class="news-page">News 6</div>
                </div>
            </div>
            <div class="right">
                <div class="other-content"> Calendar </div>
                <div class="other-content"> Chart </div>
                <div class="other-content"> Map </div>
            </div>
        </div>
        <div class="page-footer">
            <div class="footer-text"> @2012 - TapChiLapTrinh </div>
            <div class="page-navigation">
                <a href="/">Home</a> |
                <a href="/">Student</a> |
                <a href="/">Courses</a> |
                <a href="/">About us</a> |
                <a href="/">Contact us</a>
            </div>
        </div>
    </div>
</body>
</html>